.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("images/IMG-20171120-WA0004.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 896px;
}

.u-section-1 .u-group-1 {
  width: 774px;
  min-height: 257px;
  height: auto;
  margin: 418px auto 0 20px;
}

.u-section-1 .u-container-layout-1 {
  padding-bottom: 0;
}

.u-section-1 .u-text-1 {
  animation-duration: 1000ms;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-image: none;
  margin: 181px 216px 0 20px;
}

.u-section-1 .u-text-2 {
  font-size: 8rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  animation-duration: 1000ms;
  margin: -231px 369px 60px 37px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 672px;
  }

  .u-section-1 .u-group-1 {
    width: 727px;
    min-height: 628px;
    margin-top: 22px;
  }

  .u-section-1 .u-text-1 {
    position: relative;
    margin-top: 22px;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-1 .u-text-2 {
    position: relative;
    margin: -69px 16px 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    width: 736px;
    margin-left: 0;
  }

  .u-section-1 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 22px;
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 812px;
  }

  .u-section-1 .u-group-1 {
    min-height: 768px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-1 .u-text-2 {
    font-size: 6rem;
    margin-top: 201px;
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-1 .u-text-2 {
    font-size: 3.75rem;
    margin-top: 207px;
    margin-left: 6px;
    margin-right: 6px;
  }
}.u-section-2 {
  background-image: none;
  min-height: 468px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: -36px;
  margin-bottom: 0;
}

.u-section-2 .u-image-1 {
  background-image: url("images/429A8175-640x427.jpg");
  min-height: 504px;
  background-position: 50% 50%;
  animation-duration: 1000ms;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 504px;
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding-left: 49px;
}

.u-section-2 .u-line-1 {
  width: 691px;
  height: 3px;
  transform-origin: left center 0;
  margin: 72px 20px 0 auto;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  animation-duration: 1000ms;
  margin: -13px 12px 0 8px;
}

.u-section-2 .u-text-2 {
  animation-duration: 1000ms;
  margin: 53px 80px 0 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 0.875rem;
  border-style: none;
  animation-duration: 1000ms;
  margin: 20px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 {
    min-height: 380px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 40px;
  }

  .u-section-2 .u-line-1 {
    width: 594px;
    margin-right: 16px;
  }

  .u-section-2 .u-text-1 {
    position: relative;
    margin-right: 16px;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    position: relative;
    margin-right: 16px;
  }

  .u-section-2 .u-btn-1 {
    position: relative;
    height: 42px;
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-2 {
    min-height: 283px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 31px;
  }

  .u-section-2 .u-line-1 {
    width: 455px;
    margin-top: 36px;
    margin-right: 13px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 13px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 20px;
  }

  .u-section-2 .u-btn-1 {
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-2 {
    min-height: 782px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 23px;
  }

  .u-section-2 .u-line-1 {
    width: 426px;
    margin-right: 9px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 9px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 9px;
  }

  .u-section-2 .u-btn-1 {
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-2 {
    min-height: 516px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 629px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 15px;
  }

  .u-section-2 .u-line-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 6px;
    margin-left: 6px;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 6px;
    margin-right: 6px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 500px;
}

.u-section-3 .u-layout-wrap-1 {
  width: 1114px;
  margin: 26px 0 60px auto;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 136px;
  animation-duration: 1000ms;
}

.u-section-3 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-3 .u-text-1 {
  margin-left: 0;
  margin-right: 0;
  font-size: 3rem;
  margin-bottom: 0;
  animation-duration: 1000ms;
}

.u-section-3 .u-line-1 {
  height: 3px;
  transform-origin: left center 0px;
  margin: 30px auto 15px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 256px;
}

.u-section-3 .u-text-2 {
  animation-duration: 1000ms;
  margin: 20px 20px 0;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 256px;
}

.u-section-3 .u-container-layout-3 {
  padding: 0 0 29px;
}

.u-section-3 .u-text-3 {
  animation-duration: 1000ms;
  margin: 20px 20px 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 0.875rem;
  border-style: none;
  animation-duration: 1000ms;
  margin: 74px 30px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 115px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
  }

  .u-section-3 .u-line-1 {
    width: 907px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 216px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 216px;
  }

  .u-section-3 .u-text-3 {
    position: relative;
    font-style: normal;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-line-1 {
    width: 695px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-line-1 {
    width: 540px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-line-1 {
    width: 340px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 6px;
    margin-right: 6px;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 791px;
}

.u-section-4 .u-layout-wrap-1 {
  margin: 46px auto 0 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 480px;
}

.u-section-4 .u-container-layout-1 {
  padding-left: 40px;
}

.u-section-4 .u-line-1 {
  width: 221px;
  height: 3px;
  transform-origin: left center 0px;
  margin: 188px auto 0 0;
}

.u-section-4 .u-text-1 {
  font-size: 3rem;
  animation-duration: 1000ms;
  margin: -27px 9px 0 0;
}

.u-section-4 .u-btn-1 {
  padding: 0;
}

.u-section-4 .u-text-2 {
  animation-duration: 1000ms;
  margin: 22px 119px 0 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 480px;
}

.u-section-4 .u-image-1 {
  width: 646px;
  height: 381px;
  animation-duration: 1000ms;
  margin: 64px auto 0 -76px;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 219px;
}

.u-section-4 .u-container-layout-3 {
  padding-left: 10px;
  padding-right: 10px;
}

.u-section-4 .u-text-3 {
  animation-duration: 1000ms;
  margin: 28px 22px 0 9px;
}

.u-section-4 .u-btn-2 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  animation-duration: 1000ms;
  margin: 22px auto 0 484px;
}

.u-section-4 .u-text-4 {
  font-size: 13.75rem;
  animation-duration: 1000ms;
  margin: -830px 866px 60px 56px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 16px;
  }

  .u-section-4 .u-line-1 {
    width: 182px;
    margin-top: 0;
  }

  .u-section-4 .u-text-1 {
    position: relative;
    margin-right: 8px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 61px;
  }

  .u-section-4 .u-image-1 {
    width: 546px;
    height: 333px;
    margin-top: 74px;
    margin-bottom: 50px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 229px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 8px;
    padding-right: 8px;
  }

  .u-section-4 .u-text-3 {
    width: 515px;
    margin-left: 205px;
    margin-right: 205px;
  }

  .u-section-4 .u-btn-2 {
    margin-left: 341px;
  }

  .u-section-4 .u-text-4 {
    height: 242px;
    margin: -876px 606px 670px 50px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1122px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 667px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 13px;
  }

  .u-section-4 .u-line-1 {
    width: 140px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 6px;
  }

  .u-section-4 .u-text-2 {
    position: relative;
    margin-right: 47px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 667px;
  }

  .u-section-4 .u-image-1 {
    width: 439px;
    margin-top: 167px;
    margin-bottom: 65px;
    margin-left: -79px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 312px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-4 .u-text-3 {
    width: 395px;
    position: relative;
    margin-left: 157px;
    margin-right: 157px;
  }

  .u-section-4 .u-btn-2 {
    margin-left: 183px;
  }

  .u-section-4 .u-text-4 {
    margin: -1109px 426px 964px 49px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1339px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 9px;
  }

  .u-section-4 .u-line-1 {
    width: 221px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 9px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 74px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 304px;
  }

  .u-section-4 .u-image-1 {
    width: 476px;
    margin-top: -76px;
    margin-left: auto;
    margin-bottom: 46px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .u-section-4 .u-text-3 {
    width: 370px;
    margin-left: 80px;
    margin-right: 80px;
  }

  .u-section-4 .u-btn-2 {
    margin-left: 80px;
  }

  .u-section-4 .u-text-4 {
    margin: -1783px 169px 1188px 38px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1249px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 6px;
  }

  .u-section-4 .u-line-1 {
    width: 110px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 3px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 22px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 191px;
  }

  .u-section-4 .u-image-1 {
    height: 243px;
    width: 294px;
    margin-top: -78px;
    margin-bottom: 26px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 3px;
    padding-right: 3px;
  }

  .u-section-4 .u-text-3 {
    width: 311px;
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-4 .u-btn-2 {
    margin-left: 12px;
  }

  .u-section-4 .u-text-4 {
    margin: -1410px 90px 1088px 6px;
  }
}.u-section-5 {
  min-height: 664px;
}

.u-section-5 .u-layout-cell-1 {
  background-image: none;
  min-height: 664px;
}

.u-section-5 .u-container-layout-1 {
  padding-left: 111px;
}

.u-section-5 .u-text-1 {
  font-size: 13.75rem;
  animation-duration: 1000ms;
  margin: -106px 76px 0 12px;
}

.u-section-5 .u-line-1 {
  width: 272px;
  height: 3px;
  transform-origin: right center 0px;
  animation-duration: 1000ms;
  margin: 58px auto 0 0;
}

.u-section-5 .u-text-2 {
  font-size: 3rem;
  font-weight: 300;
  animation-duration: 1000ms;
  margin: 23px 20px 0 0;
}

.u-section-5 .u-btn-1 {
  padding: 0;
}

.u-section-5 .u-text-3 {
  animation-duration: 1000ms;
  margin: 60px 8px 0 12px;
}

.u-section-5 .u-image-1 {
  background-image: url("images/IMG-20171120-WA0005.jpg");
  min-height: 332px;
  background-position: 50% 50%;
}

.u-section-5 .u-image-2 {
  min-height: 332px;
  background-image: url("images/Primary-5-pupil-touching-the-computer-for-the-first-time-300x234.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-image-3 {
  min-height: 332px;
  background-image: url("images/Adrien.png");
  background-position: 50% 50%;
  animation-duration: 1000ms;
}

.u-section-5 .u-layout-cell-5 {
  min-height: 332px;
  background-image: none;
}

.u-section-5 .u-container-layout-5 {
  padding-left: 20px;
}

.u-section-5 .u-text-4 {
  animation-duration: 1000ms;
  font-style: normal;
  margin: 54px 114px 0 0;
}

.u-section-5 .u-btn-2 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  animation-duration: 1000ms;
  margin: 20px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-container-layout-1 {
    padding-left: 91px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 21px;
    margin-left: 0;
    height: 242px;
  }

  .u-section-5 .u-line-1 {
    width: 224px;
    margin-top: -19px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 16px;
  }

  .u-section-5 .u-text-3 {
    position: relative;
    margin-right: 16px;
    margin-left: 0;
  }

  .u-section-5 .u-container-layout-5 {
    padding-left: 16px;
  }

  .u-section-5 .u-text-4 {
    margin-right: 94px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-layout-cell-1 {
    min-height: 420px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 70px;
  }

  .u-section-5 .u-line-1 {
    width: 172px;
    margin-top: 158px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 13px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 13px;
  }

  .u-section-5 .u-image-2 {
    min-height: 576px;
  }

  .u-section-5 .u-container-layout-5 {
    padding-left: 13px;
  }

  .u-section-5 .u-text-4 {
    margin-right: 72px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-container-layout-1 {
    padding-left: 52px;
  }

  .u-section-5 .u-text-1 {
    font-size: 3.75rem;
    margin-right: 0;
  }

  .u-section-5 .u-line-1 {
    width: 161px;
    margin-top: 309px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 9px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 9px;
  }

  .u-section-5 .u-container-layout-5 {
    padding-left: 9px;
  }

  .u-section-5 .u-text-4 {
    margin-right: 54px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-container-layout-1 {
    padding-left: 33px;
  }

  .u-section-5 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-5 .u-line-1 {
    width: 135px;
    margin-top: 298px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 6px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 6px;
  }

  .u-section-5 .u-container-layout-5 {
    padding-left: 6px;
  }

  .u-section-5 .u-text-4 {
    margin-right: 34px;
  }
}.u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 688px;
}

.u-section-6 .u-layout-wrap-1 {
  margin: 48px auto 48px 0;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 214px;
}

.u-section-6 .u-container-layout-1 {
  padding-left: 20px;
}

.u-section-6 .u-line-1 {
  width: 767px;
  height: 3px;
  transform-origin: left center 0px;
  animation-duration: 1000ms;
  margin: 44px auto 0 0;
}

.u-section-6 .u-text-1 {
  font-size: 3rem;
  animation-duration: 1000ms;
  margin: 20px 260px 0 0;
}

.u-section-6 .u-btn-1 {
  padding: 0;
}

.u-section-6 .u-text-2 {
  font-size: 13.75rem;
  animation-duration: 1000ms;
  margin: -262px 0 0 895px;
}

.u-section-6 .u-image-1 {
  background-image: url("images/school-children-looking-at-a-laptop.jpg");
  min-height: 417px;
  background-position: 50% 50%;
  animation-duration: 1000ms;
}

.u-section-6 .u-layout-cell-3 {
  min-height: 417px;
}

.u-section-6 .u-text-3 {
  margin-left: 20px;
  margin-right: 20px;
  font-style: italic;
  margin-bottom: 0;
  animation-duration: 1000ms;
}

.u-section-6 .u-btn-2 {
  margin-left: 20px;
  margin-right: 20px;
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin-top: 20px;
  border-style: none;
  animation-duration: 1000ms;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 584px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 16px;
  }

  .u-section-6 .u-line-1 {
    width: 633px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 214px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 704px;
  }

  .u-section-6 .u-image-1 {
    min-height: 378px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 378px;
  }

  .u-section-6 .u-text-3 {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
  }

  .u-section-6 .u-btn-2 {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 435px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 13px;
  }

  .u-section-6 .u-line-1 {
    width: 485px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 164px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 484px;
  }

  .u-section-6 .u-text-3 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-6 .u-btn-2 {
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1013px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 9px;
  }

  .u-section-6 .u-line-1 {
    width: 454px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 123px;
  }

  .u-section-6 .u-text-2 {
    font-size: 3.75rem;
    margin-left: 296px;
  }

  .u-section-6 .u-image-1 {
    min-height: 564px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-6 .u-text-3 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-6 .u-btn-2 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 747px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 6px;
  }

  .u-section-6 .u-line-1 {
    width: 340px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 78px;
  }

  .u-section-6 .u-text-2 {
    font-size: 3rem;
    margin-left: 96px;
  }

  .u-section-6 .u-image-1 {
    min-height: 378px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 378px;
  }

  .u-section-6 .u-text-3 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-6 .u-btn-2 {
    margin-left: 6px;
    margin-right: 6px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 402px;
}

.u-section-7 .u-text-1 {
  width: 679px;
  animation-duration: 1000ms;
  margin: 55px auto 0;
}

.u-section-7 .u-text-2 {
  width: 679px;
  animation-duration: 1000ms;
  margin: 20px auto 0;
}

.u-section-7 .u-list-1 {
  min-height: 188px;
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-template-rows: auto;
  grid-gap: 10px 10px;
  height: auto;
  margin: 20px 0 55px;
}

.u-section-7 .u-list-item-1 {
  animation-duration: 1000ms;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px;
}

.u-section-7 .u-image-1 {
  width: 202px;
  height: 79px;
  margin: 0 auto;
}

.u-section-7 .u-list-item-2 {
  animation-duration: 1000ms;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px;
}

.u-section-7 .u-image-2 {
  width: 202px;
  height: 79px;
  margin: 0 auto;
}

.u-section-7 .u-list-item-3 {
  animation-duration: 1000ms;
}

.u-section-7 .u-container-layout-3 {
  padding: 30px;
}

.u-section-7 .u-image-3 {
  width: 202px;
  height: 79px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 369px;
  }

  .u-section-7 .u-list-1 {
    min-height: 155px;
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 346px;
  }

  .u-section-7 .u-text-2 {
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-7 .u-list-1 {
    min-height: 356px;
    grid-template-columns: repeat(2, calc((100% - 720px) / 2 + 355px));
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-text-1 {
    width: 540px;
  }

  .u-section-7 .u-text-2 {
    width: 540px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-list-1 {
    grid-template-columns: repeat(2, calc((100% - 540px) / 2 + 265px));
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-text-1 {
    width: 340px;
  }

  .u-section-7 .u-text-2 {
    width: 340px;
  }

  .u-section-7 .u-list-1 {
    grid-template-columns: repeat(2, calc((100% - 340px) / 2 + 165px));
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-image-2 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-image-3 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}